@font-face {
  font-family: 'NotoSerif-Regular';
  src: url('NotoSerif-Regular.eot');
  src: url('NotoSerif-Regular.woff2') format('woff2'),
       url('NotoSerif-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSerif';
  src: url('NotoSerif.woff') format('woff'),
       url('NotoSerif.ttf') format('truetype'),
       url('NotoSerif.svg#NotoSerif') format('svg');
  font-weight: normal;
  font-style: normal;
}

